@import "tailwindcss";

@font-face {
  font-family: "roboto-mono";
  src: url("./assets/fonts/roboto-mono.ttf");
}

@font-face {
  font-family: "roboto";
  src: url("./assets/fonts/roboto.ttf");
}

@theme {
  --font-roboto: "roboto", sans-serif;
  --font-roboto-mono: "roboto-mono", monospace;
  --color-onyx: oklch(0.1448 0 0);
  --color-white: oklch(0.9956 0.0021 17.19);
}

@layer base {
  html,
  body,
  :root {
    @apply bg-onyx font-roboto text-white;
  }
}

@layer components {}

@layer utilities {}
